.bg-dark-grey {
	background-color: #262626;
}

.bg-light-grey {
	background-color: #303030;
}

.txt-white {
	color: #fbfbfb;
}

.txt-green {
	color: #8dc2aa;
}

.txt-grey {
	color: #9a9a9a;
}

a:hover, #more-stories:hover, #previous-stories:hover {
	color: inherit;
}